<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1> Create a Basketball Team!</h1>
     <form method="POST" action="/newteam">
      Team name:
      <input id="name" type="text" name="string">
      <br>
      Coach
      <input id="coach" type="text" name="string">
      <br>
      Point Guard:
      <input id="pg" type="text" name="string">
      <br>
      Shooting Guard:
      <input id="sg" type="text" name="string">
      <br>
      Small Forward:
      <input id="sf" type="text" name="string">
      <br>
      Power Forward:
      <input id="pf" type="text" name="string">
      <br>
      Center:
      <input id="c" type="text" name="string">
      <br>
      <input type="submit">
    </form>
 </body>
</html>
